@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');

/*Estilização Universal*/
* {
    scroll-behavior: smooth;
    /*Transição universal no Scroll de rolagem*/
    font-family: Quintessential;
    /*Familia de fonyr universal*/
    list-style: none;
    /*Removendo estilo de lista UNIVERSAL*/
    margin: 0;
    /*Removendo os espaçamentos laterais e superiores*/
    padding: 0;
    /*Desabilitando preenchimento aplicado por padrão*/
}

/*Estilizando o header*/
.cabecalho {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 25px;
    color: #d4b546;
    position: sticky;
    /*Faz com que o elemento fique "grudado" na tela quando o usuário rolar a página*/
    top: 0;
    /*Define que o elemento ficará preso no topo da tela (0px de distância do topo*/
    left: 0;
    /*Define o alinhamento à esquerda da página, mantendo 0px de distância*/
    z-index: 1;
    /*Controla a sobreposição do elemento sobre outros elementos da página*/
}

/*alterando o tamanho do icon whatsapp*/
.whatsapp img {
    width: 50px;
    /*largura do icon*/
}

/*div que guarda o icon whatsapp*/
.whatsapp {
    position: fixed;
    /*posicionamento fixo*/
    right: 25px;
    /*posicionamento à esquerda (25px)*/
    bottom: 25px;
    /*posicionamento a 25px do botton*/
}

.whatsapp img:hover {
    width: 60px;
    transition: 0.8s;
}


/*Estilizando a logo*/
.img-header {
    width: 150px;
}


.ul-lista {
    list-style: none;
}


.ul-lista {
    display: flex;
    gap: 15px;
}

/*Estilizando a âncora*/
.ul-lista li a {
    text-decoration: none;
    color: #d4b546;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
    font-family: Quintessential;
}

.ul-lista li a:hover {
    color: blueviolet;
}

/*Fim do cabeçario*/

/*inicio da section 01*/
.img-section-01 {
    width: 310px;
    margin-left: 40px;
}

.img-section-01:hover {
    box-shadow: 5px 5px 15px blueviolet;
}

.img-section-01:hover {
    box-shadow: 10px 10px 20px blueviolet;
    transition: 0.8s;
}

.section-01 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: black;
    padding: 40px;
    gap: 60px;
}

.div-02 p {
    color: #d4b546;
    font-size: 30px;
    font-family: Quintessential;
    margin-left: 40px;
    text-align: center;
}

span {
    color: chocolate;
    font-size: 35px;
}

/*Inicio section 02*/
.section-02 {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #d4b546;
    padding: 60px;
    text-transform: uppercase;
    font-family: Quintessential;
    text-align: center;
    flex-direction: column;
    font-size: 45px;
}

.div-icon {
    font-size: 40px;
}

.paragrafo-section-02 {
    text-align: center;
    font-size: 20px;
}

/*Fim section 02*/

/*Inicio section 03*/
.section-03 {
    background-image: url(imagem/stefank0710-porsche-2911177_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-03 a {
    padding: 8px;
    background-color: black;
    color: #d4b546;
    font-family: Quintessential;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
}

.section-03 a:hover {
    background-color: black;
    color: #d4b546;
    box-shadow: 10px 10px 20px blueviolet;
}

.section-03 a:hover {
    box-shadow: 15px 15px 30px blueviolet;
    transition: 0.8s;
}

/*Fim section 03*/

/*Inicio section 04*/
/*Estilizando as div todas juntas*/
.section-04 div {
    width: 300px;
    height: 300px;
    background-color: grey;
    padding: 15px;
    text-align: center;
    box-shadow: 10px 10px 20px blueviolet;
}

.section-04 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    padding: 60px;
    color: black;
    background-color: black;
    font-family: Quintessential;
}

.section-04 div:hover {
    box-shadow: 15px 15px 25px blueviolet;
    padding: 25px;
    width: 300px;
}

.section-04 div:hover {
    box-shadow: 20px 20px 30px blueviolet;
    transition: 1s;
}

.caixa-02 {
    background-image: url(imagem/mibro-car-8136751_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Estilizando titulo caixa 01*/
.caixa-01 h2 {
    font-size: 10px;
    text-transform: uppercase;
    margin-top: 10px;
    font-family: Quintessential;
}

/*Estilizando paragrafo caixa 01*/
.caixa-01 p {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 20px;
}

/*Estilização dos icons*/
.fa-star,
.fa-star-half {
    font-size: 25px;
    color: goldenrod;
}

/*Estilizando caixa 03 - icon*/
.fa-comment {
    font-size: 80px;
    margin-top: 30px;
    color: black;
    margin-bottom: 15px;
}

/*Estilizando paragrafo(p) caixa 03*/
.caixa-03 p {
    font-size: 17px;
    font-weight: 600;
}

footer {
    background-color: black;
    padding: 80px;
    color: #d4b546;
    font-family: Quintessential;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

footer .fa-instagram,
.fa-x-twitter,
.fa-whatsapp {
    color: #d4b546;
    font-size: 35px;
    margin-top: 15px;
}

.caixa-footer {
    font-size: 20px;
}